%% -*- erlang -*-
{erl_opts, [debug_info]}.
{xref_checks, [undefined_function_calls]}.
{plugins, [rebar3_format]}.

{deps, [
  {gproc,   "0.9.0"},
  {jiffy,   "1.0.8"},
  {iso8601, "1.3.1"},
  {gun,     "1.3.3"},
  {io_libc, {git, "https://github.com/relabsoss/io_libc.git", {branch, "master"}}}
]}.

{format, [
  {files, ["include/*.hrl", "src/*.erl", "test/*.erl"]},
  {formatter, otp_formatter},
  {options, #{ paper => 100 }}
]}.
